@import "../../styles/general-styles.scss";

.suites{
    padding-top: 70px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: $black;
    height: 500px;
    background-color: #000000;
    width: calc(100% - 70px);
    margin: 0 auto;
    margin-top: -100px;
    z-index: 3;
    position: relative;

    /*.separator{
        width: 14px;
        height: 14px;
        background: $white;
        border-radius: 50px;
        margin-left: 10px;
        margin-right: 10px;

        &:before{
            content: " ";
            width: 130px;
            height: 2px;
            background: $white;
            position: absolute;
        }

        &:after{
            content: " ";
            width: 130px;
            height: 2px;
            background: $white;
            position: absolute;
        }
    }*/

    
}

.separador{
    hr{
        width: 130px;
        height: 2px;
        background: $white;
    }

    .circle{
        width: 14px;
        height: 14px;
        background: $white;
        border-radius: 50px;
        margin-left: 10px;
        margin-right: 10px;
    }
}
